.client-carousel {
    button {
        background-color: transparent;
        border-color: transparent;
        height: 100%;
    }

    .client-logo {
        height: 90px;
    }
}

.content-carousel {
    .owl-next {
        i {
            transform: translate(0, 0);
        }
    }

    .owl-prev {
        i {
            transform: translate(0, 0);
        }
    }
}